*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.justify-content {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.sec-padding {
    padding: 80px 0px;
}

header {
    width: 100%;
    height: 11vh !important;
    padding: 0px 100px;
    margin-bottom: 0px;
}

/* start coding for show product */
.show-img {
    width: 40%;
}
.img-box {
    padding: 0px 10px;
    width: 350px;
    height: 450px;
    margin: auto;
    overflow: hidden;
}
.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.all-img {
    width: 100%;
    padding: 15px;
    overflow-y: hidden;
    display: flex;
}
.all-img div {
    width: calc((100% / 4) - 10px);
    height: 120px;
}
.all-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all .6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    cursor: pointer;
    border: 1px solid #7b5244;
}
.all-img img:hover {
    transform: translateY(10px);
}

.show-info {
    width: 60%;
    padding: 10px 50px;
}
.info-header h2{
    margin: 10px 0px;
    font-size: 35px;
    font-weight: normal;
    opacity: .8;
}
.show-info .star {
    display: flex;
}
.show-info .star i {
    font-size: 18px;
    color: goldenrod;
}
.info-header p {
    opacity: .7;
}
.info-header .price {
    display: block;
    font-size: 50px;
    color: #ff523b;
    margin: 15px 0px;
}
.info-list {
    list-style:disc;
    margin-left: 20px;
}
.info-list li {
    margin: 10px 0px;
    color: #7b5244;
}
.stting-product h3 {
    text-transform: capitalize;
    opacity: .9;
}
.stting-product .test {
    margin: 10px 0px;
}
.stting-product select {
    width: 280px;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #7b5244;
    border-bottom-width: 3px;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
}

.buy-product {
    width: 55%;
    margin: 50px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buy-product .Quantity span {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}
.buy-product .Quantity input {
    all: unset;
    width: 60px;
    padding: 15px 0%;
    margin: 0px 0px 0px 5px;
    font-size: 20px;
    border: 1px solid #7b5244;
    border-radius: 5px;
}
.buy-product button {
    all: unset;
    font-size: 20px;
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: 10px 30px;
    color: #fff;
    cursor: pointer;
    transition: all .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.buy-product button:hover {
    padding: 10px 35px;
    letter-spacing: 1px;
}
@media screen and (max-width:700px){
    .show-img {
        width: 100%;
    }
    .show-info {
        width: 100%;
        padding: 20px 20px;
    }
    .buy-product {
        width: 100%;
    }
    .buy-product button:hover {
        padding: 10px 25px;
        letter-spacing: 1px;
    }
    .sec-padding {
        padding: 0px 0px 60px 0px;
    }

    header {
        width: 100%;
        height: 21vh !important;
        padding: 0px;
        margin-bottom: 0px;
    }

    .header-content .login-list {
        margin-top: 10px;
    }
    .all-img div {
        height: 100px;
    }
}